@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face{
  font-family: 'Valera Round';
  src: url('../../public/font/VarelaRound-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Rubik';
  src: url('../../public/font/Rubik-VariableFont_wght.ttf') format('truetype');
}

.text-gradient {
  background: linear-gradient(to right, #0d47a1, #2196f3, #0d47a1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

@keyframes slideInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.text-animation {
  animation: slideInUp 0.7s ease-in-out;
}

.landing{
  height: 80vh;
}